body {

font-family: sans-serif;
font-size: 18px;
background: light-gray;
border-top: solid 3px black;
border-bottom: solid 3px black;
padding: 50px;
margin: 20px;


}

h1, nav {

text-align: center;

}

nav {

font-size: 16px;
padding: 20px 20px 0 20px;
margin: 10px;
font-weight: 700;

}

a {
	color: black;
}

h1 {

font-family: Arial;
font-size: 30px;
padding: 0 20px 20px 20px;

}


h2 {

font-size: 20px;

}

h3{

padding-top: 10px;
font-size: 16px;
letter-spacing: 2px;

}

h4 {

font-family: sans-serif;

}

span {

font-size: 18; 
font-weight: 700;

}



p {
	font-family: serif;
	line-height: 25px;
	width: 400px;
    display: inline-block;
}

img {

	height: 150px;
	padding: 5px;
	margin:  1px 0 0 20px;
	border: solid 1px gray;
	float: right;
}

.work {

	height: 350px;
	margin: 0 auto;
}

div {

	margin: 0 auto;
}
